<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="#">NewsApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="getNewsByTopic('news')">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="getNewsByTopic('sport')">Sport</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="getNewsByTopic('tech')">Tech</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="getNewsByTopic('world')">World</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="getNewsByTopic('science')">Science</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="getNewsByTopic('travel')">Travel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="getNewsByTopic('entertainment')">Entertainment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="getNewsByTopic('music')">Music</a>
      </li>

      <li class="nav-item ml-5 d-none d-lg-block mt-sm-2 mt-md-0 btn-login">
        <a class="nav-link  btn btn-outline-info" href="#">Log in</a>
      </li>
      <li class="nav-item d-none d-lg-block mt-sm-2 mt-md-0 ">
        <a class="nav-link btn btn-outline-info btn-signup" href="#">Sign up</a>
      </li>
    </ul>
  </div>
</nav>